body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
    background-color: lightgoldenrodyellow;
  }
  
  .dot {
    cursor: pointer;
    fill: brown;
    color: steelblue;
    
  }
  
  .dot:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 16px;
    fill:brown;
    text-anchor: middle;
    font-weight: bold;
  }
  
  .trend {
    fill: lightskyblue;
    opacity: 0.5;
    stroke:black;
    border-style: solid;
    stroke-linejoin: round;
  }
  
  .toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    pointer-events: none;
    text-align: center;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    color:brown;
  }

  .axis {
    font-size: 15px;
    font-weight: bold;
  }

  label{
    font-size: 18px;
    font-weight: bolder;
  }
  img{
    border: black;
    border-style: solid;
    width: 300px;
    height:150px;
  }

  #dropdown{
    font-size: large;
    font-weight: bold;
    color: brown;


  }